/* 

*/

/*
The design system I've pasted here is something I made a few months back. 
It should constantly be referred to across all CSS files. Please avoid hardcoding
values. Keeping all the values here makes everything much simpler to work with,
review, and change even if our codebase gets bigger.

Feel free to add and remove things. The current settings are for an old site
I was working on, most of the things here should still apply to this project.
Typography and colors are the main things that should change across projects,
perhaps the only ones. If you disagree, then feel free to change anything.

Note that I'm not sure how well this design system works. I'm pretty sure this
is slightly buggy with the responsiveness, but we can smooth that out. Most of
it is stable as it is just static styles.

Feel free to run through this with AI, expand it, change it, etc. :)

Happy styling!
*/



:root {
    /* Spacing Scale -- SAME AS GOOGLES */
    --spaceAuto: auto;
    --space0: 0px;
    /* x0 */
    --space1: 4px;
    /* x1 */
    --space2: 8px;
    /* x2 */
    --space3: 12px;
    /* x3 */
    --space4: 16px;
    /* x4 */
    --space5: 20px;
    /* x5 */
    --space6: 24px;
    /* x6 */
    --space7: 32px;
    /* x8 */
    --space8: 40px;
    /* x10 */
    --space9: 48px;
    /* x12 */
    --space10: 64px;
    /* x16 */
    --space11: 96px;
    /* x24 */

    --spaceRes1: clamp(2px, 0.4vw, 4px);
    --spaceRes2: clamp(6px, 1vw, 8px);
    --spaceRes3: clamp(8px, 1.2vw, 12px);
    --spaceRes4: clamp(12px, 1.5vw, 16px);
    --spaceRes5: clamp(16px, 2vw, 20px);
    --spaceRes6: clamp(20px, 2.5vw, 24px);
    --spaceRes7: clamp(24px, 4vw, 32px);
    --spaceRes8: clamp(32px, 5vw, 40px);
    --spaceRes9: clamp(40px, 6vw, 48px);
    --spaceRes10: clamp(48px, 8vw, 64px);
    --spaceRes11: clamp(64px, 12vw, 96px);

    /* Border */
    --border0: none;
    --border1: 1.5px solid rgb(0, 0, 0);
    --border2: 2px solid rgb(0, 0, 0);
    --border3: 3px solid rgb(0, 0, 0);
    --border4: 5px solid rgb(0, 0, 0);

    /* Z-index */
    --layerBottom: -1;
    --layerFloat: 2200;
    --layerOverlay: 2400;
    --layerNav: 2600;
    --layerUpperUI1: 2800;
    --layerUpperUI2: 3000;
    --layerUpperUI3: 3200;
    --layerUpperUI4: 3400;
    --layerAlert: 3600;
    --layerMax: 10000;

    /* Colors  */
    /* colorsConfig */
    --colorPrimary: #002fff;
    --colorBackgroundPrimary: #ffffff;
    --colorPrimaryFaded: #5855e6;
    --colorBackgroundPrimaryFaded: #5855e69c;
    --colorSecondary: #5052fc;
    --colorBackgroundSecondary: #3103ff;
    --colorSecondaryFaded: #ff2eff;

    --colorAction: #0044ff;
    --colorActionFaded: #0c4dff;
    --colorActionActive: #6d6dff;

    --colorImportantAction: rgb(255, 56, 56);
    --colorImportantActionFaded: rgb(220, 20, 20);
    --colorImportantActionActive: rgb(255, 80, 80);

    --colorWhite: white;
    --colorBlack: black;
    --colorBackgroundWhite: white;
    --colorBackgroundWhiteFaded: rgb(247, 247, 247);
    --colorBackgroundBlack: black;
    --colorBackgroundBlackFaded: black;
    --colorFontWhite: white;
    --colorFontBlack: black;
    /* TODO : fix font color */
    --colorShadow: 120, 120, 120;

    --colorFont: #1E293B;
    --colorFontFaded: #a3a3a3;
    --colorFontOpposite: #FFFFFF;
    --colorFontOppositeFaded: #a3a3a3;

    color: var(--colorFont);
    background-color: var(--colorBackground);

    /* Typography and Fonts */
    --fontTypeBody: 'Inter', sans-serif;
    --fontTypeLabel: normal normal bold normal var(--fontSizeBase) 'Inter';
    --fontTypeLabelLarge: normal normal bold normal var(--fontSizeLarge) 'Inter';
    --fontTypeHeading: 'Inter', sans-serif;

    font-family: var(--fontTypeBody);
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: 16px;
    --fontSize7: 9rem;
    --fontSize6: 8rem;
    --fontSize5: 6rem;
    --fontSize4: 4rem;
    --fontSize3: 3rem;
    --fontSize2: 2rem;
    --fontSize1: 1rem;
    --fontSizeH1: 2rem;
    --fontSizeH2: 1.5rem;
    --fontSizeH3: 1.17rem;
    --fontSizeH4: 1rem;
    --fontSizeH5: 0.83rem;
    --fontSizeH6: 0.67rem;
    --fontSizeBase: 1rem;
    --fontSizeSmall: 0.8rem;
    --fontSizeLarge: 1.2rem;

    --lineHeight: 1.5;
    --letterSpacing: 0.5px;

    /* Border Radius */
    --radius0: 0px;
    --radius1: 4px;
    --radius2: 8px;
    --radius3: 12px;
    --radius4: 16px;
    --radius5: 24px;

    --radiusPill: 9999px;
    --radiusCircle: 50%;
    --radiusBlob: 25%;

    --radiusButton: var(--radius1);
    --radiusIcon: var(--radiusCircle);

    /* Box shadows */
    --shadow0: none;

    --shadow1: 0 1px 2px rgba(var(--colorShadow), 0.15), 0 1px 1px rgba(var(--colorShadow), 0.10);
    --shadow2: 0 2px 6px rgba(var(--colorShadow), 0.22), 0 2px 3px rgba(var(--colorShadow), 0.15);
    --shadow3: 0 4px 12px rgba(var(--colorShadow), 0.30), 0 4px 6px rgba(var(--colorShadow), 0.22);
    --shadow4: 0 8px 24px rgba(var(--colorShadow), 0.40), 0 6px 12px rgba(var(--colorShadow), 0.30);
    --shadow5: 0 14px 40px rgba(var(--colorShadow), 0.52), 0 10px 20px rgba(var(--colorShadow), 0.40);
    --shadow6: 0 24px 64px rgba(var(--colorShadow), 0.65), 0 16px 32px rgba(var(--colorShadow), 0.52);
    --shadow7: 0 40px 100px rgba(var(--colorShadow), 0.80), 0 24px 48px rgba(var(--colorShadow), 0.65);

    --shadow1-inset: inset 0 1px 2px rgba(var(--colorShadow), 0.15), inset 0 1px 1px rgba(var(--colorShadow), 0.10);
    --shadow2-inset: inset 0 2px 6px rgba(var(--colorShadow), 0.22), inset 0 2px 3px rgba(var(--colorShadow), 0.15);
    --shadow3-inset: inset 0 4px 12px rgba(var(--colorShadow), 0.30), inset 0 4px 6px rgba(var(--colorShadow), 0.22);
    --shadow4-inset: inset 0 8px 24px rgba(var(--colorShadow), 0.40), inset 0 6px 12px rgba(var(--colorShadow), 0.30);
    --shadow5-inset: inset 0 14px 40px rgba(var(--colorShadow), 0.52), inset 0 10px 20px rgba(var(--colorShadow), 0.40);
    --shadow6-inset: inset 0 24px 64px rgba(var(--colorShadow), 0.65), inset 0 16px 32px rgba(var(--colorShadow), 0.52);
    --shadow7-inset: inset 0 40px 100px rgba(var(--colorShadow), 0.80), inset 0 24px 48px rgba(var(--colorShadow), 0.65);

    --shadowSharp1: 0 0.5px 1.5px rgba(var(--colorShadow), 0.16), 0 1px 3px rgba(var(--colorShadow), 0.70);
    --shadowSharp2: 0 1px 2px rgba(var(--colorShadow), 0.24), 0 2px 4px rgba(var(--colorShadow), 0.90);
    --shadowSharp3: 0 2px 3px rgba(var(--colorShadow), 0.32), 0 4px 6px rgba(var(--colorShadow), 1);

    --shadowSharp1-inset: inset 0 0.5px 1.5px rgba(var(--colorShadow), 0.16), inset 0 1px 3px rgba(var(--colorShadow), 0.70);
    --shadowSharp2-inset: inset 0 1px 2px rgba(var(--colorShadow), 0.24), inset 0 2px 4px rgba(var(--colorShadow), 0.90);
    --shadowSharp3-inset: inset 0 2px 3px rgba(var(--colorShadow), 0.32), inset 0 4px 6px rgba(var(--colorShadow), 1);

    --shadowComplete: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

/* Typography and Fonts. */
h1 {
    font-size: var(--fontSizeH1);
}

h2 {
    font-size: var(--fontSizeH2);
}

h3 {
    font-size: var(--fontSizeH3);
}

h4 {
    font-size: var(--fontSizeH4);
}

h5 {
    font-size: var(--fontSizeH5);
}

h6 {
    font-size: var(--fontSizeH6);
}

small {
    font-weight: 500;
    font-size: var(--fontSizeSmall);
    letter-spacing: -0.5px;
}

h1,
h2,
h3 {
    font-family: var(--fontTypeHeading);
    font-weight: 700;
}

em,
i {
    font-family: var(--fontTypeHeading);
    font-style: italic;
}

nav,
label,
form,
input,
textarea,
button {
    font: var(--fontTypeLabel)
}

a {
    font: var(--fontTypeBody);
    color: var(--colorFont);
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* CONFIGURING */

/* Resetting */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
li,
ul,
ol {
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);
    font-size: var(--fontSizeBase);
}

/* links */
a {
    text-decoration: none;
}

a:active {
    opacity: 0.7;
}

img {
    height: auto;
    object-fit: scale-down;
    user-select: none;
}

ul,
ol,
dl {
    list-style: none;
}

input {
    user-select: none;
    padding-left: var(--space2)
}

label {
    user-select: none;
}